---
layout: default
---

<div class="container mx-auto mt-9 max-w-lg rounded-xl border border-gray-200 p-8 shadow-lg">

    <div class="-mx-4 -mt-4 flex justify-between">
        <a href="#back" class="inline-block text-gray-500 hover:text-gray-700 w-12 h-12 hover:bg-slate-50 rounded-full p-3"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>
          </a>
        <a href="#close" class="inline-block text-gray-500 hover:text-gray-700 w-12 h-12 hover:bg-slate-50 rounded-full p-3"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg></a>
    </div>
        <div class="prose">
            <h1 class="mb-2">Launch Style</h1>
            <p class="mt-0 mb-8">Actions are currently set to open using <strong>Same Tab</strong></p>
        </div>
        <a href="#" class="">
            <div
                class="mx-auto mt-4 max-w-md space-y-2 rounded-lg border border-gray-300 bg-white px-8 py-8 hover:bg-slate-50 sm:flex sm:items-center sm:space-x-6 sm:space-y-0 sm:py-4">
                <div class="space-y-2 text-center sm:text-left">
                    <div class="flex items-center space-x-2 space-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3" />
                          </svg>                          
                        <p class="text-lg font-semibold text-black">Keep as Same Tab</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" class="">
            <div
                class="mx-auto mt-4 max-w-md space-y-2 rounded-lg border border-gray-300 bg-white px-8 py-8 hover:bg-slate-50 sm:flex sm:items-center sm:space-x-6 sm:space-y-0 sm:py-4">
                <div class="space-y-2 text-center sm:text-left">
                    <div class="flex items-center space-x-2 space-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                          </svg>                          
                        <p class="text-lg font-semibold text-black">Change to New Tab</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="">
            <div
                class="mx-auto mt-4 max-w-md space-y-2 rounded-lg border border-gray-300 bg-white px-8 py-8 hover:bg-slate-50 sm:flex sm:items-center sm:space-x-6 sm:space-y-0 sm:py-4">
                <div class="space-y-2 text-center sm:text-left">
                    <div class="flex items-center space-x-2 space-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>
                        <p class="text-lg font-semibold text-black">Change to Dialog Box</p>
                    </div>
                </div>
            </div>
        </a>
</div>